/*Codigo feito por: Márcio Mendonça*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to right, #00d2ff, #3a7bd5);
    font-family: 'Roboto', sans-serif;
}

.container{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.container span{
    display: block;
}

.text1{
    font-size: 60px;
    position: relative;
    background:linear-gradient(to right, #00d2ff, #3a7bd5); ;
    animation: text1 5s 1;
    color: #fff;
}

.text2{
    font-size: 60px;
    color: #fff;
    background:linear-gradient(to right, #00d2ff, #3a7bd5);
    animation: text1 8s 1;
}

.text3{
    font-size: 60px;
    animation: text3 8s 1;
    color: #fff;

}


.text3 button{
    animation: button 10s 1;
    position: relative;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    font-size: 30px;
    transition: 0.2s;
}

.text3 button:hover{
    background:linear-gradient(to right, #8ceaff, #5c9ffd);
    transform: scale(1.1);
}


.exercises{
    width: 50%;
    margin: 0 auto;
    background: #fff;
    position: absolute;
    top: 0;;
    animation: fadeIn 1s ease-in-out;
    display: none;
    padding: 50px;
}

.exercises div{
    padding: 20px;
}

.exercises button{
    margin-top:10px ;
}

.questions span p{
    font-weight: normal;
    font-size: 12pt;
    text-align: center;
}
.questions span h3{
    text-align: center;
    font-size: 12pt;
}

.questions table th,td{
    border: 1px solid black;
    padding: 10px;
}

.questions table{
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}


.questions button{
    padding: 5px;
    background: #0077ff;
    color: #fff;
    border: none;
    transition: all .2s

}

.questions button:hover{
    background: #00d9ff;
    transform: scale(1.1)
}


@keyframes button {
    0%{ left: -200%; }
    50%{ left: -200%; }
    100%{ left: 0; }
}

@keyframes text1 {
    0%{
        color: transparent;
        margin-bottom: -60px;
    }

    30%{
        margin-bottom:-60px ;
        
    }

    85%{
        margin-bottom: -60px;
    }
}

@keyframes text3 {
    0%{
        color: transparent;
    }
    85%{
     color: transparent;
    }
}

@keyframes fadeIn {
    0% { opacity: 0;  }
    90%{opacity: 0;}
    100% { opacity: 1; }
    }
